<main class="bg-background min-h-screen">
  <!-- Hero Section -->
  <section
    class="hero bg-primary text-white py-20">
    <div
      class="flex flex-col justify-center items-center text-center md:text-left order-2 md:order-1">
      <h1 class="text-5xl font-display mb-6">Discover DripTrip</h1>
      <p class="text-lg mb-8">
        Your ultimate guide to exploring Cameroon with ease, offering
        personalized itineraries, trusted reviews, and seamless bookings.
      </p>
      <a
        routerLink="/signUp"
        class="bg-secondary text-white py-3 px-8 rounded shadow-lg hover:bg-secondary-hover transition duration-300">
        Join Us
      </a>
    </div>
  </section>

  <!-- Mission Section -->
  <section class="mission py-20">
    <div class="container mx-auto px-4">
      <h2 class="text-4xl font-display text-primary text-center mb-12"
        >Our Mission</h2
      >
      <p class="text-lg text-center text-white max-w-4xl mx-auto">
        At DripTrip, we aim to simplify travel across Cameroon by connecting
        adventurers to the best destinations, trusted services, and unique
        experiences while promoting local tourism and culture.
      </p>
    </div>
  </section>

  <!-- Values Section -->
  <section class="values bg-gray-100 py-20">
    <div class="container mx-auto px-4">
      <h2 class="text-4xl font-display text-primary text-center mb-12"
        >Our Core Values</h2
      >
      <div class="grid grid-cols-1 md:grid-cols-3 gap-8">
        <div class="value-item bg-white p-6 rounded-2xl shadow-lg text-center">
          <div class="mb-1">
            <span class="w-20 h-20 text-5xl mx-auto">😃</span>
          </div>
          <h3 class="text-2xl font-semibold text-primary mb-2"
            >Customer First</h3
          >
          <p class="text-gray-700"
            >We prioritize your satisfaction and seamless travel experiences.</p
          >
        </div>
        <div class="value-item bg-white p-6 rounded-2xl shadow-lg text-center">
          <div class="mb-4">
            <span class="w-20 h-20 text-5xl mx-auto">✨</span>
          </div>
          <h3 class="text-2xl font-semibold text-primary mb-2"
            >Sustainability</h3
          >
          <p class="text-gray-700"
            >Promoting eco-friendly travel and supporting local communities.</p
          >
        </div>
        <div class="value-item bg-white p-6 rounded-2xl shadow-lg text-center">
          <div class="mb-4">
            <span class="w-20 h-20 text-5xl mx-auto">🖥</span>
          </div>
          <h3 class="text-2xl font-semibold text-primary mb-2">Innovation</h3>
          <p class="text-gray-700"
            >Leveraging technology to provide unmatched travel solutions.</p
          >
        </div>
      </div>
    </div>
  </section>

  <!-- Call to Action Section -->
  <section class="cta bg-primary text-white py-20">
    <div class="container mx-auto px-4 text-center">
      <h2 class="text-4xl font-display mb-6"
        >Join the DripTrip Community Today!</h2
      >
      <p class="text-lg mb-8"
        >Start exploring Cameroon with ease and convenience like never
        before.</p
      >
      <a
        routerLink="/signUp"
        class="bg-secondary text-white py-3 px-8 rounded-xl shadow-lg hover:bg-secondary-hover transition duration-300">
        Sign Up Now
      </a>
    </div>
  </section>
</main>
